In [1]:
import pandas as pd

#Manual entry because the assignment seems to suggest that?
age = pd.Series([32, 27, 21, 15, 21])
height = pd.Series([193, 192, 190, 200, 183])
OS = pd.Series(["Android", "IOS", "IOS", "IOS", "IOS"])

data = pd.DataFrame({
    "Age": age,
    "Height": height,
    "PhoneOS": OS
})

#CSV import
#data = pd.read_csv("userdata.csv")

data.head()

   Age  Height  PhoneOS
0   32     193  Android
1   27     192      IOS
2   21     190      IOS
3   15     200      IOS
4   21     183      IOS

In [2]:
print(data.size)
print(data.size / data.columns.size) ## For number of repsponse since there appears to be no builtin way to count that

15
5.0

In [3]:
data.describe()

             Age      Height
count   5.000000    5.000000
mean   23.200000  191.600000
std     6.496153    6.107373
min    15.000000  183.000000
25%    21.000000  190.000000
50%    21.000000  192.000000
75%    27.000000  193.000000
max    32.000000  200.000000

In [4]:
### 5) What type of sampling/recruitment method did you use?
###    i collected my data with members of my group, by making a google form and then we asked members of MED2 to answer the form.
### 6) What could be potential bias in your sample?
###    a bias of our data could be a selection bias since we only asked university students to participate